.characters {
  min-width: 320px;
  padding: 80px 0 120px;
  box-sizing: border-box;
  background-color: $white;
}
.title {
  margin: 0 0 80px;
  font-size: 60px;
  font-family: $mainfont;
  text-align: center;
  color: $dark-title;
}
.character__wrap {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (max-width: $breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: $breakpoint-xxs) {
    grid-template-columns: 1fr;
  }
}

.character__item {
  position: relative;
  margin: 20px;

  &:hover {
    .character__info {
      display: block;
    }
  }
}

.character__img {
  display: block;
  width: 100%;
  height: 225px;
  border-radius: 20px;
  background: url("../../images/no-image.png") no-repeat center center $bg-card;
  background-size: contain;
  cursor: pointer;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
  }

}


.character__info {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: calc(100% - 60px);
  padding: 30px 30px 40px;
  border-radius: 20px;
  background-color: $bg-card;
  color: $white;
  z-index: 10;
}

.character__info-item {
  font-size: 18px;
  border-bottom: 1px solid #ffffff55;

  &:not(:last-of-type) {
    margin-bottom: 14px;
  }

  span {
    font-family: $mainfont;
  }
}

.character__info-item_name {
  font-size: 30px;
  font-family: $mainfont;
  margin-bottom: 30px !important;
  border-bottom: 0;
}


.link__more {
  display: block;
  margin: 22px 0 0;
  color: $white;
  font-size: 22px;
  text-align: center;
}

/*like block*/
.like__block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0 0;
}

.like__counter {
  display: block;
  margin-right: 12px;
  line-height: 1;
  font-size: 26px;

}

.like__icon {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  outline: 0;
  border: 0;
}

.like__icon {
  svg {
    circle, path {
      stroke: $white;
      fill: none;
    }
  }
  &:hover {
    svg {
      circle, path {
        fill: $yellow;
      }
    }
  }
}

.like__icon_active {
  svg {
    circle, path {
      fill: $yellow;
    }
  }
}
