@mixin btn-icon {
    //display: flex;
    background-color: $bg-active-link;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    //position: fixed;
    bottom: 23px;
    
    width: 280px;
    border-radius: 10px;
}
.open-button {
    @include btn-icon;
    right: 28px;
}

.t1 {
    @include btn-icon;
    left: 28px;
}
.t1:hover {
    opacity: 1;
}
.cap {
    @include btn-icon;
    margin-top: auto;
    
}
.cap:hover {
    opacity: 1;
}
  /* Всплывающая форма-скрыта по умолчанию */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
}
  /* Добавила стилей в контейнер форм */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

  /* Поля ввода полной ширины */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

  /* Когда входы получают фокус, сделать что-нибудь */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

  /* Установила стиль для кнопки отправить/кнопка */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

  /* Добавила красный цвет фона к кнопке отмена */
.form-container .cancel {
    background-color: red;
}

  /* Добавила некоторые эффекты наведения на кнопки */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
