//smth
.img-body {
    background-image: url(../images/header_bg.png);
}
.nav {
    padding: 30px;
    
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    
}
a {
    text-decoration: none;
    margin-right: 20px;
    
}.img-logo {
    margin-right: 20px;

}