//smth
.img-body {
    background-image: url(../images/header_bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
}
.nav {
    padding: 30px;
    
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    
}
a {
    text-decoration: none;
    margin-right: 30px;
    color: $white;
    font-family: $subfont;
    
}
.img-logo {
    margin-right: 50px;


}
.btn-logo {
    background-color: $bg-active-link;
    border-radius: 10px;
    width: 280px;
    height: 30px;
    bottom: 23px;

}
