//colors:
$white: #fff;
$dark-title: #355342; //цвет темных заголовков, названий кнопок по hover
$bg-main: $white;   
$bg-card: #C4C4C4; //цвет фона карточек персонажей
$bg-button: #000; //цвет фона инпутов
