a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

button, input, select {
    border-radius: 10px;
}

select {
    background-color:transparent;
}

select:hover {
    cursor: pointer;
}