//colors:
$white: #fff;
$dark-title: #355342; //цвет темных заголовков, названий кнопок по hover
$bg-main: $white;   
$bg-card: #405851; //цвет фона карточек персонажей
$bg-button: #000; //цвет фона инпутов
$bg-active-link: #B7EAAF; // цвет фона выбранной(активной) ссылки
$yellow: #ffc107; //like

//breakpoints
$breakpoint-xxs: 380px;
$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;
