@import "./fonts";
@import "./vars";
@import "./mixins";
@import "./ui";

@import "./components/header";
@import "./components/main";
@import "./components/footer";
@import "./components/character";
@import "./components/query-container";